<style>
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
</style>




<div class="row">
    <h1>Actions</h1>

    <table>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>When</th>
        </tr>
        {{#each actions}}
        <div class="row">
        <tr>
            <td>{{ type }}</td>
            <td>{{ price }}</td>
            <td>{{ timestamp }}</td>
        </tr>
        {{/each}}
        </div>
    </tabel>
</div>